/WebAPI0002/bin/Debug/net10.0/AutoMapper.dll
/WebAPI0002/bin/Debug/net10.0/EFCore.BulkExtensions.Core.dll
/WebAPI0002/bin/Debug/net10.0/EFCore.BulkExtensions.PostgreSql.dll
/WebAPI0002/bin/Debug/net10.0/GenericServices.dll
/WebAPI0002/bin/Debug/net10.0/MedallionTopologicalSort.dll
/WebAPI0002/bin/Debug/net10.0/Microsoft.AspNetCore.JsonPatch.dll
/WebAPI0002/bin/Debug/net10.0/Microsoft.EntityFrameworkCore.Abstractions.dll
/WebAPI0002/bin/Debug/net10.0/Microsoft.EntityFrameworkCore.dll
/WebAPI0002/bin/Debug/net10.0/Microsoft.EntityFrameworkCore.Relational.dll
/WebAPI0002/bin/Debug/net10.0/NetTopologySuite.dll
/WebAPI0002/bin/Debug/net10.0/Newtonsoft.Json.dll
/WebAPI0002/bin/Debug/net10.0/Npgsql.dll
/WebAPI0002/bin/Debug/net10.0/Npgsql.EntityFrameworkCore.PostgreSQL.dll
/WebAPI0002/bin/Debug/net10.0/StatusGeneric.dll
/WebAPI0002/bin/Debug/net10.0/WebAPI0002.deps.json
/WebAPI0002/bin/Debug/net10.0/WebAPI0002.dll
/WebAPI0002/bin/Debug/net10.0/WebAPI0002.pdb
/WebAPI0002/bin/Debug/net10.0/WebAPI0002.runtimeconfig.json
/WebAPI0002/bin/Debug/**.*
/WebAPI0002/obj/**.*
